.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 600ms;
}

.tasks li:hover {
  background: #51c5de;
}

.tasks li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tasks li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #000;
  cursor: pointer;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: all 600ms;
}

.tasks li span {
  display: flex;
  align-items: center;
}
